In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Rstam59/TaskDataRepoForStudents/refs/heads/main/car-sales-extended-missing-data.csv')

In [3]:
df

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           951 non-null    object
 1   Colour         950 non-null    object
 2   Odometer (KM)  950 non-null    float64
 3   Doors          950 non-null    float64
 4   Price          950 non-null    float64
dtypes: float64(3), object(2)
memory usage: 39.2+ KB

In [5]:
df.describe()

       Odometer (KM)       Doors         Price
count     950.000000  950.000000    950.000000
mean   131253.237895    4.011579  16042.814737
std     69094.857187    0.382539   8581.695036
min     10148.000000    3.000000   2796.000000
25%     70391.250000    4.000000   9529.250000
50%    131821.000000    4.000000  14297.000000
75%    192668.500000    4.000000  20806.250000
max    249860.000000    5.000000  52458.000000

In [7]:
# regression
df.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [9]:
df.dropna(subset=['Price'], inplace=True)

In [10]:
df

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[950 rows x 5 columns]

In [11]:
df.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [12]:
X = df.drop('Price', axis=1)
y = df['Price'].copy()

In [13]:
df

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[950 rows x 5 columns]

In [23]:
X['Doors'].fillna(X['Doors'].median())      # Replaces NaN with the median

0      4.0
1      5.0
2      4.0
3      4.0
4      3.0
      ...
995    4.0
996    3.0
997    4.0
998    4.0
999    4.0
Name: Doors, Length: 950, dtype: float64

In [24]:
X['Make'].fillna(value='Missing').value_counts()

Make
Toyota     354
Honda      281
Nissan     175
BMW         93
Missing     47
Name: count, dtype: int64

In [27]:
X['Make'] = X['Make'].fillna(X['Make'].mode()[0])

In [28]:
X['Make'].mode()

0    Toyota
Name: Make, dtype: object

In [29]:
X['Colour'] = X['Colour'].fillna(X['Colour'].mode()[0])

In [30]:
X['Colour'].mode()

0    White
Name: Colour, dtype: object

In [32]:
X.isna().sum()

Make              0
Colour            0
Odometer (KM)    48
Doors             0
dtype: int64

In [35]:
X.Make.value_counts()

Make
Toyota    401
Honda     281
Nissan    175
BMW        93
Name: count, dtype: int64

In [36]:
from sklearn.preprocessing import OrdinalEncoder

In [37]:
ordinal_enc = OrdinalEncoder()

In [40]:
X['Make_encoded'] = ordinal_enc.fit_transform(pd.DataFrame(X['Make']))

In [41]:
X

       Make Colour  Odometer (KM)  Doors  Make_encoded
0     Honda  White        35431.0    4.0           1.0
1       BMW   Blue       192714.0    5.0           0.0
2     Honda  White        84714.0    4.0           1.0
3    Toyota  White       154365.0    4.0           3.0
4    Nissan   Blue       181577.0    3.0           2.0
..      ...    ...            ...    ...           ...
995  Toyota  Black        35820.0    4.0           3.0
996  Toyota  White       155144.0    3.0           3.0
997  Nissan   Blue        66604.0    4.0           2.0
998   Honda  White       215883.0    4.0           1.0
999  Toyota   Blue       248360.0    4.0           3.0

[950 rows x 5 columns]

In [42]:
X['Colour_encoded'] = ordinal_enc.fit_transform(pd.DataFrame(X['Colour']))

In [43]:
X

       Make Colour  Odometer (KM)  Doors  Make_encoded  Colour_encoded
0     Honda  White        35431.0    4.0           1.0             4.0
1       BMW   Blue       192714.0    5.0           0.0             1.0
2     Honda  White        84714.0    4.0           1.0             4.0
3    Toyota  White       154365.0    4.0           3.0             4.0
4    Nissan   Blue       181577.0    3.0           2.0             1.0
..      ...    ...            ...    ...           ...             ...
995  Toyota  Black        35820.0    4.0           3.0             0.0
996  Toyota  White       155144.0    3.0           3.0             4.0
997  Nissan   Blue        66604.0    4.0           2.0             1.0
998   Honda  White       215883.0    4.0           1.0             4.0
999  Toyota   Blue       248360.0    4.0           3.0             1.0

[950 rows x 6 columns]

In [44]:
X.drop(['Make', 'Colour'], axis=1, inplace=True)

In [45]:
X

     Odometer (KM)  Doors  Make_encoded  Colour_encoded
0          35431.0    4.0           1.0             4.0
1         192714.0    5.0           0.0             1.0
2          84714.0    4.0           1.0             4.0
3         154365.0    4.0           3.0             4.0
4         181577.0    3.0           2.0             1.0
..             ...    ...           ...             ...
995        35820.0    4.0           3.0             0.0
996       155144.0    3.0           3.0             4.0
997        66604.0    4.0           2.0             1.0
998       215883.0    4.0           1.0             4.0
999       248360.0    4.0           3.0             1.0

[950 rows x 4 columns]

In [48]:
from sklearn.ensemble import RandomForestRegressor

In [49]:
rfr = RandomForestRegressor()

In [50]:
rfr.fit(X, y)

ValueError: Input X contains NaN.
RandomForestRegressor does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [51]:
rfr.score(X, y)

ValueError: Input X contains NaN.
RandomForestRegressor does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [52]:
df

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[950 rows x 5 columns]

In [55]:
pd.DataFrame(rfr.predict(X), columns=['Price']).concat(y)

ValueError: Input X contains NaN.
RandomForestRegressor does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values